name: Build and Push to GHCR

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: piotrmx3/cloudapp

jobs:
  # 1: Build and Test
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Ckeckout repository
      - uses: actions/checkout@v6

      - name: Setup nodejs
      - uses: actions/setup-node@v6
        with:
          node-version: "24"

      - run: npm ci
      - run: npm test

  # 2: Docker Image and Push
  build-push-docker:
    needs: build-test
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v6

      - name: Set up Docker Buildx
      - uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }

      - name: Build and Push
      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
